#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>


// Rationale:
// - no major changes to the default layout
//     - major changes go to the experimental layout
// - comfort over speed
//     - optimize around the homerow and the thumb cluster
//     - instead of pressing one hard to reach key, press two easy to reach keys
// - optimize for low learning curve on each iteration. Big changes go to the experimental layout or broken down into smaller steps.
// - no compromise with vim bindings
// - symmetrical layout: if a modifier key is on the left, it should be on the right too.


// Crazy stuff that I am yet to decide on:
// - home row mods vs callum-style mods
//     - HMR: https://precondition.github.io/home-row-mods
//     - callum style mods: https://github.com/callum-oakley/qmk_firmware/tree/master/users/callum
// - time to ditch qwerty? :p
// - really liked rtshd
 
 // Current Layers:
 // 0. default layer:                                 normal typing
 // 1. kp layer:               (toggled layer):       keypad style on the right hand side like a traditional numpad
 // 2. magic layer:            (momentary layer):     fn + nav keys + Macos shortcuts + volume keys
 // 3. mods layer:             (momentary layer):     kinesis mods
 // 4. symbols layer:          (toggled layer):       symbols around the home row
 // 5. number layer:           (momentary layer):     number row on the home row
//      - TODO: eventually I would like to convert this to a smart layer that would auto deactivate if I press enter/space/alpha keys.
//            - This behaviour is like capsword behaviour but for number.
//            - See this PR for details: https://github.com/zmkfirmware/zmk/pull/1451

/ {
    behaviors {
      #include "macros.dtsi"
      #include "version.dtsi"
      #ifndef VERSION_MACRO
      macro_ver: macro_ver {
        compatible = "zmk,behavior-macro";
        label = "macro_version";
        #binding-cells = <0>;
        bindings = <&kp RET>;
      };
      #endif

      hm: homerow_mods {
          compatible = "zmk,behavior-hold-tap";
          label = "HOMEROW_MODS";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          quick_tap_ms = <175>;
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
      };
    };

  keymap {
    compatible = "zmk,keymap";
    // Layer: DEFAULT_NORMAL
    // Changes:
    // TMUX: Tmux prefix(ctrl+a), on both sides thumb cluster.
    // NUM: layer toggle to number layer on left thumb.
    // LGUI and LGUI: (Macos CMD) on both sides thumb cluster.
    // Mod-tap ESC and quote on both sides: Tap for ESC and quote, hold for CTRL.
    //   - experimenting with default mod-tap and hold-tap behaviour.
    // ltsym: Momentary layer switch to symbols layer. Again symmetrical.
    // up/down/left/right: arrow keys are moved to the magic layer in place of the hjkl keys to mimick vim style navigation.

    // -----------------------------------------------------------------------           ---------------------------------------------------------------------
    // |   =/+     |    1    |    2    |    3    |    4    |    5    | &tog KP|           |&mo MOD |    6    |    7    |    8    |    9    |    0     |  -/_     |
    // |   TAB     |    Q    |    W    |    E    |    R    |    T    |  None  |           | None   |    Y    |    U    |    I    |    O    |    P     |  \/|     |
    // |&mt LC(ESC)|    A    |    S    |    D    |    F    |    G    |  None  |           | None   |    H    |    J    |    K    |    L    |    ;     |  &hm RC'/"|
    // |  LSHIFT   |    Z    |    X    |    C    |    V    |    B    |---------           -------  |    N    |    M    |    ,    |    .    |    /     |  RSHIFT  |
    // |   fn      |    ~    | &trans  |  &trans |  ltsym  |----------                           ----------|  ltsym  | &trans  |   [/{   |   ]/}    |  fn      |
    // ----------------------------------------------------                                                ----------------------------------------------------
    //
    //                                                                        Thumb Cluster
    //                                                       -----------------              ------------------
    //                                                       | TMUX | LALT |                | ESC | TMUX |
    //                                               -------------------------              ---------------------------
    //                                               |       |       | HOME  |              | PG UP |        |         |
    //                                               | BSPC  |  NUM  |--------              --------|  ENTER |  SPACE  |
    //                                               |       |       | LGUI  |              | RGUI  |        |         |
    //                                               -------------------------              ---------------------------
    default_layer {
      bindings = <
        &kp EQUAL       &kp N1    &kp N2   &kp N3   &kp N4     &kp N5 &tog 1                                                           &mo 3 &kp N6 &kp N7 &kp N8    &kp N9   &kp N0   &kp MINUS
        &kp TAB         &kp Q     &kp W    &kp E    &kp R      &kp T  &none                                                            &none &kp Y  &kp U  &kp I     &kp O    &kp P    &kp BSLH
        &mt LCTRL ESC   &kp A     &kp S    &kp D    &kp F      &kp G  &none           &kp LC(A) &kp LALT &kp ESC  &kp RC(A)            &none &kp H  &kp J  &kp K     &kp L    &kp SEMI &hm RCTRL SQT
        &kp LSHFT       &kp Z     &kp X    &kp C    &kp V      &kp B                            &kp HOME &kp PG_UP                           &kp N  &kp M  &kp COMMA &kp DOT  &kp FSLH &kp RSHFT
        &mo 2           &kp GRAVE &kp CAPS &none    &mo 4                &kp BSPC &tog 5   &kp LGUI  &kp RGUI &kp ENTER &kp SPACE              &mo 4 &none  &kp LBKT &kp RBKT &mo 2
      >;
    };
    keypad {
      bindings = <
        &kp EQUAL &kp N1    &kp N2   &kp N3   &kp N4     &kp N5 &trans                                                           &mo 3 &kp N6 &kp KP_NUM &kp KP_EQUAL &kp KP_DIVIDE &kp KP_MULTIPLY &kp MINUS
        &kp TAB   &kp Q     &kp W    &kp E    &kp R      &kp T  &none                                                            &none &kp Y  &kp KP_N7  &kp KP_N8    &kp KP_N9     &kp KP_MINUS    &kp BSLH
        &kp ESC   &kp A     &kp S    &kp D    &kp F      &kp G  &none           &kp LCTRL &kp LALT &kp LGUI  &kp RCTRL           &none &kp H  &kp KP_N4  &kp KP_N5    &kp KP_N6     &kp KP_PLUS     &kp SQT
        &kp LSHFT &kp Z     &kp X    &kp C    &kp V      &kp B                            &kp HOME &kp PG_UP                           &kp N  &kp KP_N1  &kp KP_N2    &kp KP_N3     &kp KP_ENTER    &kp RSHFT
        &mo 2     &kp GRAVE &kp CAPS &kp LEFT &kp RIGHT                &kp BSPC &kp DEL   &kp END  &kp PG_DN &kp ENTER &kp KP_N0              &kp UP     &kp DOWN     &kp KP_DOT    &kp RBKT        &mo 2
      >;
    };

    // Magic Layer: fn + nav keys + Macos shortcuts + volume keys
    // Changes:
    // - arrow keys are moved to the magic layer in place of the hjkl keys to mimick vim style navigation.
    // - vol up/down: to top right column
    // TODO:
    // - Copy: In place of Y key(like vim yank)
    // - Paste: In place of P key(like vim paste)
    // - Cut: In place of X key(like vim cut)
    // - Window and space management
    // -----------------------------------------------------------------------           ---------------------------------------------------------------------
    // |    F1    |   F2   |   F3   |   F4    |   F5    |   F6    |  None  |           | None |   F7    |   F8    |   F9    |   F10   |   F11    |  F12     |
    // |   TAB    |        |        |         |         |         |  None  |           | None | selcopy |         |         |         |   paste  |  VOL_UP  |
    // |  LCTRL   |        |        |         |         |         |  None  |           | None |  left   | down    |   up    | right   |          |  VOL_DOWN|
    // |  LSHIFT  |        | selcut |         |         |         |---------           -------|         |         |         |         |          |  RSHIFT  |
    // |          |        |        |         |         |----------                           ----------|         |         |         |          |          |
    // ----------------------------------------------------                                                ----------------------------------------------------
    //
    //                                                                        Thumb Cluster
    //                                                       -----------------              ------------------
    //                                                       | TMUX | LALT |                | ESC | TMUX |
    //                                               -------------------------              ---------------------------
    //                                               |       |       | HOME  |              | PG UP |        |         |
    //                                               | BSPC  |  NUM  |--------              --------| ENTER  |  SPACE  |
    //                                               |       |       | LGUI  |              | RGUI  |        |         |
    //                                               -------------------------              ---------------------------
    //
    fn {
      bindings = <
        &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &tog 1                                           &mo 3 &kp F7   &kp F8   &kp F9   &kp F10    &kp F11 &kp F12
        &trans &trans &trans &trans &trans &trans  &none                                           &none &trans   &trans   &trans   &trans     &trans  &kp C_VOL_UP
        &trans &trans &trans &trans &trans &trans  &none        &trans &trans &trans &trans        &none &kp LEFT &kp DOWN &kp UP   &kp RIGHT  &trans  &kp C_VOL_DOWN
        &trans &trans &trans &trans &trans &trans                      &trans &trans                     &trans   &trans   &trans   &trans     &trans  &trans
        &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans                &trans   &trans   &trans     &trans  &trans
      >;
    };
    mod {
      bindings = <
        &none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none                                                                     &trans                 &none        &none        &none        &none &none &none
        &none &none        &none        &none        &none        &none        &bootloader                                                               &bootloader            &none        &none        &none        &none &none &none
        &none &none        &none        &none        &none        &none        &none                   &none &none &bt BT_CLR &none                      &rgb_ug RGB_MEFS_CMD 5 &none        &none        &none        &none &none &none
        &none &none        &none        &none        &macro_ver   &none                                      &none &none                                                        &none        &none        &none        &none &none &none
        &none &none        &none        &none        &none                                       &none &none &none &none      &bl BL_TOG &rgb_ug RGB_TOG                                     &bl BL_INC   &bl BL_DEC   &none &none &none
      >;
    };



    // Layer: DEFAULT_SYMBOLS
    // Changes:
        - Top row symbols are moved down one row. The order doesn't change, so no learning curve. Just a little easier to reach.
        - Frequently used symbols are moved to the home row. Symmetrical braces and brackets. 
    // -----------------------------------------------------------------------           ---------------------------------------------------------------------
    // |          |    1   |    2   |    3    |    4    |    5    |  None  |           | None |    6    |    7    |    8    |    9    |    0     |          |
    // |          |    !   |    @   |    #    |    $    |    %    |  None  |           | None |    ^    |    &    |    *    |    \    |          |          |
    // |          |    =   |    [   |    {    |    (    |    +    |  None  |           | None |    -    |    )    |    }    |    ]    |    _     |          |
    // |          |        |        |         |         |         |---------           -------|         |    |    |         |         |          |          |
    // |          |        |        |         |         |----------                           ----------|         |         |         |          |          |
    // ----------------------------------------------------                                                ----------------------------------------------------
    //
    //                                                                        Thumb Cluster
    //                                                       -----------------              ------------------
    //                                                       | TMUX | LALT |                | ESC | TMUX |
    //                                               -------------------------              ---------------------------
    //                                               |       |       | HOME  |              | PG UP |        |         |
    //                                               | BSPC  |  NUM  |--------              --------| ENTER  |  SPACE  |
    //                                               |       |       | LGUI  |              | RGUI  |        |         |
    //                                               -------------------------              ---------------------------
    //
    sym {
      bindings = <
        &trans &trans &trans &trans &trans &trans &tog 1                                                    &mo 3 &trans   &trans   &trans   &trans     &trans    &trans
        &trans &kp EXCL  &kp AT   &kp HASH &kp DLLR &kp PRCNT  &none                                        &none &kp CARET &kp AMPS &kp STAR &kp BSLH  &trans    &trans
        &trans &kp EQUAL &kp LBKT &kp LBRC &kp LPAR &kp PLUS   &none     &trans &trans &trans &trans        &none &kp MINUS &kp RPAR &kp RBRC &kp RBKT  &kp UNDER &trans
        &trans &trans &trans &trans &trans &trans                             &trans &trans                       &trans    &trans   &trans   &trans    &trans    &trans
        &trans &trans &trans &trans &trans                      &trans &trans &trans &trans &trans &trans                   &trans   &trans   &trans    &trans    &trans
      >;
    };

    // Layer: NUMBER
    // NUM
    // Numbers on the home row.
    // With additional 3 keys: J, K, Shift+G
    //  - To accomodate the vim vertical navigation without switching from number and default layer. I constantly do like "5j" or "5k" to move 5 lines up or down. Also "34G" to go to the line number 34
    // -----------------------------------------------------------------------           ---------------------------------------------------------------------
    // |          |    1   |    2   |    3    |    4    |    5    |  None  |           | None |    6    |    7    |    8    |    9    |    0     |          |
    // |          |        |        |    K    |         |         |  None  |           | None |         |         |         |         |          |          |
    // |          |    1   |    2   |    3    |    4    |    5    |  None  |           | None |    6    |    7    |    8    |    9    |    0     |          |
    // |          |        |        |  SFT G  |         |         |---------           -------|         |    J    |         |         |          |          |
    // |          |        |        |         |  ltsym  |----------                           ----------|  ltsym  |         |         |          |          |
    // ----------------------------------------------------                                                ----------------------------------------------------
    //
    //                                                                        Thumb Cluster
    //                                                       -----------------              ------------------
    //                                                       | TMUX | LALT |                | ESC | TMUX |
    //                                               -------------------------              ---------------------------
    //                                               |       |       | HOME  |              | PG UP |        |         |
    //                                               | BSPC  |  NUM  |--------              --------|ENTER   | SPACE   |
    //                                               |       |       | LGUI  |              | RGUI  |        |         |
    //                                               -------------------------              ---------------------------
    //
    num {
      bindings = <
        &trans &trans &trans &trans    &trans &trans &tog 1                                           &mo 3 &trans   &trans   &trans   &trans     &trans  &trans
        &trans &trans &trans &kp K     &trans &trans  &none                                           &none &trans   &trans   &trans   &trans     &trans  &trans
        &trans &kp N1 &kp N2 &kp N3    &kp N4 &kp N5  &none        &trans &trans &trans &trans        &none &kp N6   &kp N7   &kp N8   &kp N9     &kp N0  &trans
        &trans &trans &trans &kp LS(G) &trans &trans                      &trans &trans                     &trans   &kp J   &trans   &trans     &trans  &trans
        &trans &trans &trans &trans    &trans               &trans &trans &trans &trans &trans &trans                &trans   &trans   &trans     &trans  &trans
      >;
    };
  };
};
